*.root
*.tif
*.tiff
*.pyc
.DS_Store

DATA_irradiated/
**/1originals/
**/2processed/
**/4th2f/
**/luminosity/

DATA_irradiated_fixed_r/
**/1originals/
**/2processed/
**/4th2f/
**/luminosity/

__pycache__/

